.big-card__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #162db7;
  margin: 2rem 0rem;
  height: 30rem;
  color: white;
  overflow: hidden;
}

.big-card__container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 80px solid #F8F5EE;
  border-left: 80px solid #162db7;
  width: 0;
  rotate: -90deg;
}

.big-card__inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-card__img-element {
  width: 100%;
}

.img-element {
  width: 100%;
  object-fit: contain;
}

.big-card__txt-elements {
  display: flex;
  align-items: flex-end;
  gap: 4rem;
  padding: 1rem;
}

.big-card__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .6rem;
}

.big-card__title {
  max-width: 80rem;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.big-card__credits {
  position: relative;
  width: fit-content;
  padding: .2rem .8rem;
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.big-card__credits::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: .2rem;
  height: 100%;
  background-color: white;
}
