<app-navbar></app-navbar>

<div class="main-content">
  <app-hero-section></app-hero-section>
  <app-big-card bigCardTitle="Final do Brasileirão feminino teve êxtase mas também exposição de traumas - UOL Esporte"
  bigCardSubtitle="O Corinthians é pentacampeão do Brasileirão feminino. Neste domingo (10), a equipe venceu a Ferroviária de virada por 2 a 1, na Neo Química Arena, e conquistou a taça. Os gols foram de Jheniffer e Tamires. Mylena Carioca descontou."
  bigCardAuthor="Ana Silva"
  bigCardDate="12/04/2015"
  bigCardImage="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt0b05e4ee227df704/60dac3ad5c97640f943f0f12/8708326387bf829423e57e170ca349d79b85d271.jpg?auto=webp&format=pjpg&width=3840&quality=60"/>
  <div class="small-card__container">
    <app-small-card class="small-card__flex"
    smallCardTitle="Alckmin chega ao RS para visitar cidades atingidas por ciclone"
    smallCardSubtitle="O vice-presidente Geraldo Alckmin chegou ao Rio Grande do Sul na manhã deste domingo (10). Acompanhado de oito ministros do governo federal, Alckmin deve visitar cidades atingidas pelas enchentes causadas pela passagem de um ciclone extratropical pelo estado."
    smallCardImage="https://s2-g1.glbimg.com/V9SEJWmUwvZr5L-i2rn69jIz8FY=/0x0:2048x1365/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/e/T/Fx4kMxTVCzimZV87rJjw/53176438632-1763250f0d-k.jpg"
    smallCardTag="Brasil" />
    <app-small-card class="small-card__flex"
    smallCardTitle="Brasileiro foragido nos EUA, Danilo Cavalcante muda aparência, rouba van e sai da área de busca - R7.com"
    smallCardSubtitle="O vice-presidente Geraldo Alckmin chegou ao Rio Grande do Sul na manhã deste domingo (10). Acompanhado de oito ministros do governo federal, Alckmin deve visitar cidades atingidas pelas enchentes causadas pela passagem de um ciclone extratropical pelo estado."
    smallCardImage="https://img.r7.com/images/danilo-sousa-cavalcante-brasileiro-condenado-euajpg-02092023161319598?dimensions=771x420&no_crop=true"
    smallCardTag="Mundo" />
    <app-small-card class="small-card__flex"
    smallCardTitle="Lula não pode impedir que Putin seja preso no Brasil, avaliam especialistas"
    smallCardSubtitle="Embora Lula tenha dito neste sábado (9) que não há por que Putin ser preso no Brasil, caso venha ao país em novembro de 2024 para a cúpula do G20, o governo brasileiro pode ser responsabilizado internacionalmente se não cumprir o mandado de prisão vigente contra o presidente russo."
    smallCardImage="https://media.gazetadopovo.com.br/2023/09/10154854/putin-lula-960x540.jpg"
    smallCardTag="Política" />
  </div>
</div>

<app-footer></app-footer>
