<div class="small-card__container">
  <div class="small-card__img-box">
    <img src="../../../assets/How-to-become-model.jpg" alt="a model" class="small-card__img">
  </div>
  <div class="small-card__title">
    <h2>Some title</h2>
  </div>
  <div class="small-card__subtitle">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit recusandae totam rem, exercitationem nemo beatae repellat mollitia iste veniam deserunt assumenda esse nihil voluptate quam at quia nesciunt id libero!
  </div>
  <div class="small-card__tags">
    <div>
      Design
    </div>
  </div>
</div>
