.small-card__container {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.small-card__img {
  max-width: 100%;
  filter: grayscale(1);
}

.navbar__logo__slogan__area {
  width: fit-content;
  padding: .4rem;
  border: 2px solid #162db7;
  border-radius: 4rem;
}

.navbar__logo__slogan__text {
  font-size: .8rem;
  color: #162db7;
  font-weight: bold;
}

.small-card__title, .small-card__subtitle {
  color: #162db7;
}
